body{
  background-color: gray;
  font-family: monospace;
  font-size: 2;

.button{
  background-color: gray;
  transition-duration: 2s;
  transition-property: all;
}

.button:hover{
  background-color: white
  color: gray;
}

.img{
  transition-duration: 2s;
  transition-property: all;
}

.img:hover{
  rotate: 360deg;
}

.button3{
  background-color: gray;
}

.button3:hover{
  background-color: white;
  color: gray;
}
